
<img id="home_img" src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Stonehenge-Green.jpg"/>
<h2><a href="/post">Create a New Thread</a></h2>
<h2><a href="/posts">See What Others Have Posted</a></h2>
