<h1> Sign Up Here </h1>

<form action="/signup" method="post">
  <div>
    <label for="user_name">User Name:</label>
    <input type="text" name="user_name"/>
  </div>
  <div>
    <label for="mail">Email:</label>
    <input type"email" name="mail"/>
  </div>
  <div>
    <label for="password">New Password:</label>
    <input type="password" name="password"/>
  </div>
  <div>
    <button type="submit">Submit!</button>
  </div>

</form>
